<h1>The Brandon Index</h1>
<div id="brandon_index">
  <%= @predictions.size %>
</div>


<%= link_to 'Log a new prediction', new_prediction_path %>

<div id="recent_predictions">
  <h2>Recent Predictions</h2>

  <ul>
  <% @predictions.each do |prediction| %>
    <li>
      <div class="prediction_title"><%=h prediction.title %></div>
      <div class="prediction_description"><%=h prediction.description %></div>
    </li>
  <% end %>
  </ul>
</div>
